body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    overflow: hidden;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.timezone {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.square {
    width: 300px;
    height: 200px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s;
}

.square.light-on {
    -webkit-box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
    box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
}

h1 {
    font-size: 2em;
    color: #fff;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.left-buttons {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

.right-buttons {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

button {
    padding: 3px 3px;
    font-size: 1em;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

button:hover {
    background-color: #ddd;
}

.add-clock-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-clock-button:hover {
    background-color: #ddd;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls input {
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
}
